<div class="card ">
  <div class="card-header bg-info text-white">
    <h2 style="text-align: center">
      Course Syllabus For Instructor
    </h2>
  </div>
  <div class="card-body" style="text-align: justify">
      <h3 style="text-align: center">Phase 1: Course Phase</h3>
    <p>
      <strong>Course name:</strong>
      <%= @course.courseName %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @course.category.name %>
    </p>

    <p>
      <strong>About course:</strong>
      <%= @course.about_course %>
    </p>

    <p>
      <strong>Topics:</strong>
    <ul>
      <% @course.topics.each do |topic| %>
        <li><%= topic.name %></li>
      <% end %>
    </ul>
    </p>

    <p>
      <strong>Instructors:</strong><br>
      <% @course.instructors.each do |instructor| %>
        <%= image_tag(instructor.avatar.current_path, size: "100x100", :style => "border-radius: 50%") if instructor.avatar.present? %>
        <strong><%= instructor.name %></strong>
        <%= instructor.profile %>
      <% end %>
      <br>
    </p>

    <p>
      <strong>Length:</strong>
      <%= @course.length %>
    </p>

    <p>
      <strong>Effort:</strong>
      <%= @course.effort %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @course.price %>
    </p>

    <p>
      <strong>Institution:</strong>
      <%= @course.institution %>
    </p>

    <p>
      <strong>Level:</strong>
      <%= @course.level %>
    </p>

    <p>
      <strong>Languages:</strong>
      <%= @course.languages %>
    </p>

    <p>
      <strong>Video Transcripts:</strong>
      <%= @course.videots %>
    </p>

    <p>
      <strong>Prerequisites:</strong>
      <%= @course.prerequisites %>
    </p>

    <p>
      <strong>Target:</strong>
    <ul>
      <% @course.targets.each do |target| %>
        <li><%= target.name %></li>
      <% end %>
    </ul>
    </p>

    <hr>

      <h3 style="text-align: center">Phase 2: Analysis Phase</h3>

    <p>
      <strong>Objective:</strong>
    <ul>
      <% @course.objectives.each do |objective| %>
        <li><%= objective.objective %></li>
      <% end %>
    </ul>
    </p>



    <p>
      <strong>Outcome:</strong>
    <table border="5" bordercolor = "black" width="100%">
      <thead bgcolor="#F9E79F">
      <th>#</th>
      <th>Outcome</th>
      <th>Learning Outcome</th>
      </thead>

      <tbody>
      <% i = 1 %>
      <% @course.outcomes.each do |outcome| %>
        <tr>
          <td style="text-align: center;"><%=i %></td>
          <td><%= outcome.outcome %></td>
          <td><%= outcome.learning %></td>
        </tr>
        <% i += 1 %>
      <% end %>
      </tbody>
    </table>
    </p>

<!--    <p>-->
<!--      <strong>Problems & Solutions:</strong>-->
<!--    <div class="list-group">-->
<!--      <div class="row">-->
        <%# @course.problem_solutions.each do |ps| %>
<!--          <div class="col-sm-6 list-group-item" >-->
<!--            <%#= ps.problem %> :-->
<!--          </div>-->
<!--          <div class="col-sm-6 list-group-item">-->
            <%#= ps.solution%>
<!--          </div>-->
        <%# end %>
<!--      </div>-->
<!--    </div>-->
<!--    </p>-->


    <hr>
    <h3 style="text-align: center">Phase 3: Design Phase</h3>

    <br>

    <p>
      <strong>Evaluation:</strong>
      <%= @course.evaluation %>
    </p>

    <p>
      <strong>Chapter & Schedule:</strong>

    <table border="5" bordercolor = "black" width="100%">
      <thead bgcolor="#96FF8A">
      <tr>
        <th>Minute</th>
        <th>Chapter</th>
        <th>Main Topic</th>
        <th>Sub Topic</th>
        <th colspan="4">Activities</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Power Point</th>
        <th>PDF sheets</th>
        <th>Question Practices</th>
        <th>Video</th>
      </tr>
      </thead>
      <tbody>

      <% @matL = ['Power Point','PDF sheets','Question Practices','Video']%>
      <% @course.chapters.each do |chapter| %>
        <tr>
          <td style="text-align: center"><%= chapter.time %></td>
          <td><%= chapter.name %></td>

          <% countMain = @maintopic.where(chapter_id: chapter.id).all %>
          <% countM = countMain.count%>
          <% k = countM %>
          <% @maintopic.where(chapter_id: chapter.id).each do |maintopic| %>

            <% if k < countM%>
            <tr>
              <td></td>
              <td></td>
          <% end %>
          <td><%= maintopic.name %></td>

          <% l = 0 %>
          <% @subtopic.where(maintopic_id: maintopic.id).each do |subtopic| %>
            <% if l >= 1 %>
              <tr>
                <td></td>
                <td></td>
                <td></td>
            <% end %>
            <td><%= subtopic.name %></td>

            <% @matL.each do |matl|%>
              <% @shouldprintno = false %>
              <% @use.where(subtopic_id: subtopic.id).each do |use| %>
                <% @material = Material.find(use.material_id)%>
                <% if @material.name == matl%>
                  <td style="text-align: center"> / </td>
                  <% @shouldprintno = false %>
                  <% break %>
                <% else %>
                  <% @shouldprintno = true %>
                <% end %>

              <% end %>
              <% if @shouldprintno == true %>
                <td>&nbsp;</td>
              <% end %>
            <% end %>
            <!--end loop material-->

            <% if l >= 1%>
              </tr>
            <% end %>
            <% l += 1 %>
          <% end %>
          <!--end loop sub topic-->

          <% if k < countM%>
            </tr>
          <% end %>

          <% k -= 1 %>
        <% end %>
        <!--end loop main topic-->
        </tr>
      <% end %>
      <!--end loop chapter-->
      </tbody>
    </table>
    </p>

    <p>
      <strong>Verify:</strong>
    <table border="5" bordercolor = "black" width="100%">
      <thead bgcolor="#FDBCD5">
      <tr>
        <th scope="col" , rowspan="2">Chapter</th>
        <% @listC = Array.new %>
        <% @listL = Array.new %>
        <% @outcomeList = ['Remember','Understand','Apply','Analyze','Evaluate','Create']%>
        <% @outcomeList.each do |outlist| %>
          <% countOut = @course.outcomes.where(outcome: outlist).all %>
          <% count = countOut.count%>
          <% @listC << count%>
          <th scope="col", colspan=<%=count%>><%= outlist %></th>
        <% end %>
      </tr>
      <tr>
        <% i = 0%>
        <% while i < 6  do %>
          <% if @listC[i] != 0%>
            <% @course.outcomes.each do |outcome| %>
              <% if outcome.outcome == @outcomeList[i]  %>
                <th><%= outcome.learning %></th>
                <% @listL << outcome.learning%>
              <% end %>
            <% end %>
          <%else%>
            <th></th>
            <% @listL << ""%>
          <%end%>
          <% i += 1%>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @course.chapters.each do |chapter| %>
        <tr>
          <td><%= chapter.name %></td>
          <% @chapter_outcomes = chapter.chapter_outcomes.select(:choutcome).distinct %>

          <% @listL.each do |learning| %>
            <% @shouldprintno = false %>
            <% @chapter_outcomes.each do |co| %>
              <% if co.choutcome == learning %>
                <td style="text-align: center"> / </td>
                <% @shouldprintno = false %>
                <% break %>
              <% else %>
                <% @shouldprintno = true %>
              <% end %>
            <% end %>
            <% if @shouldprintno == true %>
              <td>&nbsp;</td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>

    </table>
    </p>

  </div>
</div>



