<div class="card ">
  <div class="card-header bg-info text-white">
    <h2 style="text-align: center">
      Course Syllabus For Instructor
    </h2>
  </div>
  <div class="card-body" style="text-align: justify">
      <h3 style="text-align: center">Phase 1: Course Phase</h3>
    <p>
      <strong>Course name:</strong>
      <%= @course.courseName %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @course.category.name %>
    </p>

    <p>
      <strong>About course:</strong>
      <%= @course.about_course %>
    </p>

    <p>
      <strong>Topics:</strong>
    <ul>
      <% @course.topics.each do |topic| %>
        <li><%= topic.name %></li>
      <% end %>
    </ul>
    </p>

    <p>
      <strong>Instructors:</strong><br>
      <% @course.instructors.each do |instructor| %>
        <%= image_tag(instructor.avatar.current_path, size: "100x100", :style => "border-radius: 50%") if instructor.avatar.present? %>
        <%= instructor.name %>
      <% end %>
      <br>
    </p>

    <p>
      <strong>Length:</strong>
      <%= @course.length %>
    </p>

    <p>
      <strong>Effort:</strong>
      <%= @course.effort %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @course.price %>
    </p>

    <p>
      <strong>Institution:</strong>
      <%= @course.institution %>
    </p>

    <p>
      <strong>Level:</strong>
      <%= @course.level %>
    </p>

    <p>
      <strong>Languages:</strong>
      <%= @course.languages %>
    </p>

    <p>
      <strong>Video Transcripts:</strong>
      <%= @course.videots %>
    </p>

    <p>
      <strong>Prerequisites:</strong>
      <%= @course.prerequisites %>
    </p>

    <hr>

      <h3 style="text-align: center">Phase 2: Analysis Phase</h3>

    <p>
      <strong>Objective:</strong>
    <ul>
      <% @course.objectives.each do |objective| %>
        <li><%= objective.objective %></li>
      <% end %>
    </ul>
    </p>

    <p>
      <strong>Target:</strong>
    <ul>
      <% @course.targets.each do |target| %>
        <li><%= target.name %></li>
      <% end %>
    </ul>
    </p>

    <p>
      <strong>Outcome:</strong>
    <ul>
      <% @course.outcomes.each do |outcome| %>
        <% @tech = outcome.id %>
        <li><%= outcome.outcome %>
          <ul>
            <% @technique.where(outcome_id: @tech).each do |technique| %>
              <li><%= technique.name %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
    </p>

    <p>
      <strong>Problems & Solutions:</strong>
    <div class="list-group">
      <div class="row">
        <% @course.problem_solutions.each do |ps| %>
          <div class="col-sm-6 list-group-item" >
            <%= ps.problem %> :
          </div>
          <div class="col-sm-6 list-group-item">
            <%= ps.solution%>
          </div>
        <% end %>
      </div>
    </div>
    </p>


    <hr>
    <h3 style="text-align: center">Phase 3: Design Phase</h3>

    <br>

    <p>
      <strong>Chapter & Schedule:</strong>

    <table border="5" bordercolor = "black" width="100%">

      <th>Length(Minutes)</th>
      <th>Chapter Information</th>

      <% @course.chapters.each do |chapter| %>
        <tr>
          <td style="text-align: center"><%= chapter.time %></td>
          <td><%= chapter.name %>
            <ul>
              <% @maintopic.where(chapter_id: chapter.id).each do |maintopic| %>
                <li><%= maintopic.name %>
                  <ul>
                    <% @subtopic.where(maintopic_id: maintopic.id).each do |subtopic| %>
                      <li><%= subtopic.name %>
                        <ul>
                          <% @use.where(subtopic_id: subtopic.id).each do |use| %>
                            <% @material = Material.find(use.material_id) %>
                            <li><%= @material.name %>
                            </li>
                          <% end %>
                        </ul>
                      </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>

    </table>
    </p>

    <p>
      <strong>Evaluation:</strong>
      <%= @course.evaluation %>
    </p>
  </div>
</div>



