<h3 style="text-align: center">
  Course Syllabus
</h3></br>

<div style="text-align: justify">

  <p>
    <strong>Course name:</strong>
    <%= @course.courseName %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @course.category.name %>
  </p>

  <p>
    <strong>About course:</strong>
    <%= @course.about_course %>
  </p>

  <p>
    <strong>Topics:</strong>
    <%= @course.topics %>
  </p>

  <p>
    <strong>Instructors:</strong>
    <%= @course.instructors %>
    <br>
  </p>

  <%= image_tag(@course.avatar.current_path, size: "200x200", :style => "border-radius: 50%") if @course.avatar.file.nil? == false %>

  <p>
    <strong>Length:</strong>
    <%= @course.length %>
  </p>

  <p>
    <strong>Effort:</strong>
    <%= @course.effort %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @course.price %>
  </p>

  <p>
    <strong>Institution:</strong>
    <%= @course.institution %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= @course.subject %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= @course.level %>
  </p>

  <p>
    <strong>Languages:</strong>
    <%= @course.languages %>
  </p>

  <p>
    <strong>Video Transcripts:</strong>
    <%= @course.videots %>
  </p>

  <p>
    <strong>Prerequisites:</strong>
    <%= @course.prerequisites %>
  </p>

</div>




