
<div class="container">
  <div id="demo" class="carousel slide" data-ride="carousel" style= "margin-top: 15px;">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag('banner1.jpg', {:width =>'1100', :height => '450', :alt => "study1"}) %>
      </div>
      <div class="carousel-item">
        <%= image_tag('banner2.jpg', {:width =>'1100', :height => '450', :alt => "study2"}) %>
      </div>
      <div class="carousel-item">
        <%= image_tag('banner3.png', {:width =>'1100', :height => '450', :alt => "study3"}) %>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <div class="card" style="margin-top: 32px">
    <div class="card-header bg-success text-white">
      <h3 style="text-align: center">Welcome to Online Course Design Support System</h3>
    </div>
    <div class="card-body">
      <!-- <%= link_to 'My Blog', controller: 'articles' %> -->
      <% if current_user!=nil %>
        <% if current_user.admin? == false %>
          <%= link_to 'Create course / เพิ่มรายวิชา', user_course_steps_path(current_user.id), method: :post ,class: "btn btn-primary btn-lg btn-block" %>
        <% end %>
        <% if @courses.present? %>
          <%= link_to 'View all courses / แสดงรายวิชา', course_index_path, class: "btn btn-primary btn-lg btn-block" %>
        <% end %>
      <% end %>
    </div>


  </div>

</div>