<div class="nested-fields">
  <div class="field", style="margin-bottom: 10px">
    <div class="row", style="margin-bottom: 10px">
      <div class="col-lg-10">
        <%= f.label :chapter_name %>
        <%= f.text_field :name, label: false, class: "form-control", placeholder: "Enter chapter name" %>
      </div>
      <div class="col-lg-2">
        <%= f.label :time %>
        <%= f.number_field :time,
                           :min => 0,
                           :max => @course.length, label: false, :onkeydown => "myFunction()",
                           :onchange => "myFunction(true)", class: "form-control xr",
                           id: 'time' %>
      </div>
    </div>

    <%= f.fields_for :maintopics do |maintopic| %>
      <%= render 'maintopic_fields', f: maintopic, class: "form-control" %>
    <% end %>

    <div class="offset-lg-2">
      <%= link_to_add_association 'Add main topic', f, :maintopics, class: "btn btn-primary" %>
    </div>
    <%= link_to_remove_association "Remove chapter", f, class:"btn btn-danger" %>
    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);">
  </div>
</div>


<script>
    // call myFunction() every second to prevent the situation that user remove his chapters, so the total minutes will be recalculated
    window.setInterval(function(){
        var cl = document.getElementById("courseLength");
        if (cl == null) {
            var nf = document.getElementsByClassName("form-control xr");
            for (j = 0; j < nf.length; j++) {
                nf[j].setAttribute("max", 0);
            }
        } else {
            var nf = document.getElementsByClassName("form-control xr");
            for (j = 0; j < nf.length; j++) {
                nf[j].setAttribute("max", <%= @course.length %>);
            }
        }
        myFunction(false);
    }, 50);


    // this one will execute one time once page is loaded
    window.onload = function () {
        myFunction(false);
    };


    // this function takes me so long to come up with it, it is going to retrieve the value for every field that has class name as "form-control xr"
    // which is actually every number fields on this page, then sum its value up and decrease the total course length by the sum's value.
    function myFunction(isClickedOnNumberField) {
        var y = document.getElementById("courseLength");
        if(y != null) {
            var t = document.getElementsByClassName("form-control xr");
            var sum = 0;
            var i;
            var temp;
            for (i = 0; i < t.length; i++) {
                if (t[i].value === '') {
                    temp = 0;
                } else {
                    temp = t[i].value;
                }
                sum = sum + parseInt(temp);
            }
            y.innerHTML = <%= @course.length %> -sum;
            if (isClickedOnNumberField && y.innerHTML < 0) {
                alert("WARNING: You have just added too much time for chapters, it exceeds course length already !!!!")
            }
        } else if(isClickedOnNumberField) {
            alert("You must specify course length in step 4 first !");
        }
    }
</script>