<div class="nested-fields">
  <div class="form-group", style="margin-bottom: 10px">
    <div class="row">
      <div class="col-md-4"><%= f.text_field :name, label: false, class: "form-control", placeholder: "Enter instructor name"%></div>
      <div class="col-md-4"><%= f.text_field :profile, label: false, class: "form-control", placeholder: "Enter instructor profile" %></div>
      <div class="col-md-3">
        <div style="margin-bottom: 10px">
          <%= image_tag(f.object.avatar.url, size: "150x150") if f.object.avatar? %>
        </div>
        <div style="margin-bottom: 10px">
          <%= f.file_field :avatar, class: "form-control-file" %>
        </div>
      </div>
      <div class="col-md-1"><%= link_to_remove_association '<i class="fa fa-trash-o fa-2x text-danger"></i>'.html_safe, f%></div>
    </div>

  </div>
</div>