<div class="nested-fields">
  <div class="field offset-lg-2" , style="margin-bottom: 10px">
    <%= f.label :main_topic %>
    <div style="margin-bottom: 10px">
      <%= f.text_field :name, label: false, class: "form-control", placeholder: "Enter maintopic" %>

      <%= f.fields_for :subtopics do |subtopic| %>
        <%= render 'subtopic_fields', f: subtopic, class: "form-control" %>
      <% end %>
    </div>
    <div class="offset-lg-3">
      <%= link_to_add_association 'Add sub topic', f, :subtopics, class: "btn btn-primary" %>
    </div>
    <%= link_to_remove_association "Remove main topic", f, class: "btn btn-danger" %>
  </div>
</div>
