<div class="nested-fields">
  <div class="field", style="margin-bottom: 10px">
    <%= f.label :outcome %>
    <div style="margin-bottom: 10px">
      <%= f.select :outcome, [['Remember', 'Remember'],
                              ['Understand', 'Understand'],
                              ['Apply', 'Apply'],
                              ['Analyze', 'Analyze'],
                              ['Evaluate', 'Evaluate'],
                              ['Create', 'Create']], {prompt: "Select learning outcome"}, {class: "form-control"} %>

      <%= f.fields_for :techniques do |technique| %>
        <%= render 'technique_fields', f: technique, class: "form-control" %>
      <% end %>
    </div>
    <div>
      <%= link_to_add_association 'Add technique', f, :techniques, class: "btn btn-primary" %>
    </div>

    <%= link_to_remove_association 'Remove outcome', f, class: "btn btn-danger" %>
    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);">
  </div>
</div>
