<div class="nested-fields">
  <div class="field", style="margin-bottom: 10px">
    <%= f.label :problem %>
    <%= f.text_area :problem, label: false, class: "form-control", placeholder: "Enter problem"%>
    <%= f.label :solution %>
    <%= f.text_area :solution, label: false, class: "form-control", placeholder: "Enter solution"%>
    <%= link_to_remove_association "Remove problem & solution", f, class:"btn btn-danger"%>
    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" >
  </div>
</div>