<div class="container", style="margin-top: 30px">
  <h1>Phase 2: Analysis Phase</h1>
  <ul class="pagination">
    <li class="page-item"><%= link_to 'Back', course_check_path(:id => @course.id),
                                      :data => {:confirm => 'Please make sure to insert course name, otherwise, course will not be saved.'},
                                      class: "page-link" %>
    </li>
    <li class="page-item"><%= link_to 'Step 1', wizard_path(:about_course, :course_id => @course.id), :method => :get, class: "page-link" , 'data-toggle': 'tooltip', 'data-placement':'top', title: 'About this Course'%></li>
    <li class="page-item"><%= link_to 'Step 2', wizard_path(:topics, :course_id => @course.id), :method => :get, class: "page-link" , 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Topics'%></li>
    <li class="page-item"><%= link_to 'Step 3', wizard_path(:instructors, :course_id => @course.id), :method => :get, class: "page-link" , 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Instructors'%></li>
    <li class="page-item"><%= link_to 'Step 4', wizard_path(:course_meta, :course_id => @course.id), :method => :get, class: "page-link" , 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Course Metadata'%></li>
    <li class="page-item"><%= link_to 'Step 5', wizard_path(:objectives, :course_id => @course.id), :method => :get, class: "page-link" , 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Objectives'%></li>
    <li class="page-item"><%= link_to 'Step 6', wizard_path(:targets, :course_id => @course.id), :method => :get, class: "page-link" , 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Targets'%></li>
    <li class="page-item"><%= link_to 'Step 7', wizard_path(:outcomes, :course_id => @course.id), :method => :get, class: "page-link" , 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Outcomes'%></li>
    <li class="page-item active"><%= link_to 'Step 8', wizard_path(:problems_solutions, :course_id => @course.id), :method => :get, class: "page-link" , 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Problems and Solutions'%></li>
    <li class="page-item"><%= link_to 'Step 9', wizard_path(:chapters, :course_id => @course.id), :method => :get, class: "page-link" , 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Chapter and Schedule'%></li>
    <li class="page-item"><%= link_to 'Step 10', wizard_path(:evaluation, :course_id => @course.id), :method => :get, class: "page-link" , 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Evaluation Technique'%></li>
    <li class="page-item"><%= link_to 'Step 11', wizard_path(:verify, :course_id => @course.id), :method => :get, class: "page-link" , 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Verify Outcome'%></li>
    <li class="page-item"><%= link_to 'Next Step', next_wizard_path(:course_id => @course.id), class: "page-link" %></li>
  </ul>
</div>

<div class="container">
  <div class="card">
    <h3 class="card-header">Problems and Solutions</h3>
    <div class="card-body">
      <%= form_for @course, url: wizard_path do |f| %>

        <div class="objectives">
          <%= f.fields_for :problem_solutions do |problem_solution| %>
            <%= render 'problem_solution_fields', f: problem_solution, class: "form-control" %>
          <% end %>
        </div>

        <div class="link">
          <%= link_to_add_association 'Add problem & solution', f, :problem_solutions, class:"btn btn-primary" %>
        </div>

        <div class="form-group">
          <%= f.hidden_field :course_id, value: @course.id %>
        </div>

        <div class="form-group">
          <%= f.submit "Save and continue" ,class:"btn btn-success" %>
          <%= button_to 'Skip', wizard_path(:topics),class:"btn btn-warning" %>
        </div>
      <% end %>
    </div>
  </div>
</div>