<%= link_to 'Back', course_check_path(:id => @course.id), :data => {:confirm => 'Please make sure to insert course name, otherwise, course will not be saved.'}, class: "btn btn-outline-primary", style: "margin-top: 10px;margin-left: 10px;" %>
<div class="container">
  <ul class="pagination">
    <li class="page-item"><%= link_to 'Step 1', wizard_path(:about_course, :course_id => @course.id), :method => :get  ,class: "page-link" %></li>
    <li class="page-item" id="active"><%= link_to 'Step 2', wizard_path(:topics, :course_id => @course.id), :method => :get ,class: "page-link" %></li>
    <li class="page-item"><%= link_to 'Step 3', wizard_path(:instructors, :course_id => @course.id), :method => :get ,class: "page-link" %></li>
    <li class="page-item"><%= link_to 'Step 4', wizard_path(:course_meta, :course_id => @course.id), :method => :get ,class: "page-link" %></li>
  </ul>

  <%= form_for @course, url: wizard_path do |f| %>
    <h1>Topic(s)</h1>
    <div class="field">
      <%= f.label :topics %><br>
      <%= f.text_area :topics, size: "60x30" %>
    </div>

    <div class="field">
      <%= f.hidden_field :course_id, value: @course.id %>
    </div>

    <div class="actions">
      <%= f.submit "Continue",class:"btn btn-success" %>
      <%= button_to 'Skip', wizard_path(:instructors),class:"btn btn-warning" %>
    </div>
  <% end %>
</div>