<p>
  <strong>About Course:</strong>
  <%= course.about_course %>
</p>

<p>
  <strong>Topics:</strong>
  <%= course.topics %>
</p>

<p>
  <strong>Instructors:</strong>
  <%= course.instructors %>
</p>

<i class="fas fa-camera-retro"></i>

<%= link_to 'Edit', user_course_steps_path(current_user.id, :course_id => course.id) %>
<%= link_to 'Show', user_course_path(current_user.id, :id => course.id) %>
<%= link_to 'Destroy', [course.user, course],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', welcome_index_path %>
