<!DOCTYPE html>
<html>
  <head>
    <title>ISDMproject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <!--<a class="navbar-brand" href="/" id="navbarColor02" >Online Course</a>-->
    <%= if @course.present?
          link_to 'Online Course', course_check_path(:id => @course.id), class: "navbar-brand", id:"navbarColor02"
        else
          link_to 'Online Course', welcome_index_path, class: "navbar-brand", id:"navbarColor02"
        end
    %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">

        <% if user_signed_in? and current_user.admin? %>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/welcome/summary">Summary Report</a>
          </li>
        <% end %>

      </ul>
      <ul class="nav navbar-nav navbar-right" >
        <% if user_signed_in? %>
          <li>
          Welcome <%= current_user.email %>! Not you?
          <%= link_to "Sign out", destroy_user_session_path, method: :delete ,class: "btn btn-danger btn-small"%>
          </li>
        <% else %>
          <li style="margin-right: 5px">
            <%= link_to "Register", new_user_registration_path ,class: "btn btn-warning btn-small"%>
          </li>
          <li>
            <%= link_to "Log in", new_user_session_path ,class: "btn btn-primary btn-small"%>
          </li>
        <% end %>
      </ul>
      <!--<form class="form-inline my-2 my-lg-0">-->
        <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
        <!--<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>-->
      <!--</form>-->
    </div>
  </nav>

    <!--<ul class="hmenu">-->
      <!--<%= render 'devise/menu/registration_items' %>-->
      <!--<%= render 'devise/menu/login_items' %>-->
    <!--</ul>-->
    <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>
